<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>乐得云联</title>
    <meta name="keywords" content="乐得云联 乐得生活">
    <meta name="description" content="广东乐得云联智能科技有限公司，是一家互联网与人工智能的高科技企业，致力于搭建围绕互联网+社区+人+商圈+智能的社区新业态的生态圈。">
    <link rel="shortcut icon" href="" type=""/>
    <link rel="icon" href="" type="" />
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css home-->
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
</head>
<body>
    <!--header-->
    <header class="header a-fadein">
        <div class="medium-wrap clearfix">
            <div class="fl">
                <a href="index.html">
                    <img src=" ../../static/images/home/logo.png" class="mt10" alt="乐得云联 乐得生活">
                </a>
            </div>
            <ul class="nav">
                <li><a href="index.html" class="active">首页<span class="line"></span></a></li>
                <li><a href="product.html">产品介绍<span class="line"></span></a></li>
                <li><a href="cooperation.html">商务合作<span class="line"></span></a></li>
            </ul>
        </div>
    </header>
    <!--header-->

    <!--移动端header-版本-->
    <div class="min-header hide">
        <div class="min-header-title">
            <a href="index.html">
                <img src=" ../../static/images/home/logo.png" class="mt10" alt="乐得云联 乐得生活">
            </a>
        </div>
    </div>
    <!--移动端header-版本-->

    <!--移动端nav-版本-->
    <ul class="min-nav clearfix hide">
        <li><a href="index.html" class="cur">首页</a></li>
        <li><a href="product.html">产品介绍</a></li>
        <li><a href="cooperation.html">商务合作</a></li>
    </ul>
    <!--移动端nav-版本-->

    <!--banner-->
    <div class="banner a-fadein"></div>
    <!--banner-->

    <!--移动端banner-版本-->
    <div class="min-banner hide"></div>
    <!--移动端banner-版本-->

    <!--service-->
    <div class="service clearfix a-fadein">
        <div class="medium-wrap">
            <div class="service_title">
                <img src=" ../../static/images/home/index-service-01.png">
            </div>
            <ul class="service_list">
                <li><img src=" ../../static/images/home/index-service-02.png" alt="乐得云联 乐得生活"></li>
                <li><img src=" ../../static/images/home/index-service-03.png" alt="乐得云联 乐得生活"></li>
                <li><img src=" ../../static/images/home/index-service-04.png" alt="乐得云联 乐得生活"></li>
                <li><img src=" ../../static/images/home/index-service-05.png" alt="乐得云联 乐得生活"></li>
            </ul>
        </div>
    </div>
    <!--service-->

    <!--移动端service-版本-->
    <div class="min-service hide">
        <div class="min-service-title">
            <img src=" ../../static/images/home/index-service-01.png" alt="乐得云联 乐得生活">
        </div>
        <ul class="min-service-list">
            <li><img src=" ../../static/images/home/index-service-02.png" alt="乐得云联 乐得生活"></li>
            <li><img src=" ../../static/images/home/index-service-03.png" alt="乐得云联 乐得生活"></li>
            <li><img src=" ../../static/images/home/index-service-04.png" alt="乐得云联 乐得生活"></li>
            <li><img src=" ../../static/images/home/index-service-05.png" alt="乐得云联 乐得生活"></li>
        </ul>
    </div>
    <!--移动端service-版本-->

    <!--ad-->
    <div class="ad a-fadein"></div>
    <!--ad-->

    <!--移动端ad-版本-->
    <div class="min-ad hide"></div>
    <!--移动端ad-版本-->

    <!--us-->
    <div class="us a-fadein">
        <div class="medium-wrap">
            <div class="us_title">
                <img src=" ../../static/images/home/index-us-01.png" alt="乐得云联 乐得生活">
            </div>
            <div class="us_text">
                &nbsp;&nbsp;&nbsp;&nbsp;广东乐得云联智能科技有限公司（简称乐得），是一家互联网与人工智能的高科技企业，致力于搭建围绕互联网+社区+人+商圈+智能的社区新业态的生态圈。公司总部位于广东广州萝岗国家科技园区，作为萝岗国家科技园区的高科技引进项目，得到了政府的大力支持与关注。<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;乐得依托多年的互联网核心技术和人工智能方面的技术优势，为小区、写字楼等社区提供搭建身躯综合服务平台。通过整合社区周边的商户为切入口， 运营服务社区周边商圈，同时结合智能门禁系统，智能停车系统，智能家居系统，智能机器人等，最终形成社区互联网生态圈以及提供人工智能的解决方案，为广大用户提供前所未有的智能智慧体验。
            </div>
            <div class="us_box">
                <img src=" ../../static/images/home/index-us-02.png" alt="乐得云联 乐得生活">
            </div>
        </div>
    </div>
    <!--us-->

    <!--移动端us-版本-->
    <div class="min-us hide">
        <div class="min-us-title">
            <img src=" ../../static/images/home/index-us-01.png" alt="乐得云联 乐得生活">
        </div>
        <div class="min-us-box">
            &nbsp;&nbsp;&nbsp;&nbsp;广东乐得云联智能科技有限公司（简称乐得），是一家互联网与人工智能的高科技企业，致力于搭建围绕互联网+社区+人+商圈+智能的社区新业态的生态圈。公司总部位于广东广州萝岗国家科技园区，作为萝岗国家科技园区的高科技引进项目，得到了政府的大力支持与关注。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;乐得依托多年的互联网核心技术和人工智能方面的技术优势，为小区、写字楼等社区提供搭建身躯综合服务平台。通过整合社区周边的商户为切入口， 运营服务社区周边商圈，同时结合智能门禁系统，智能停车系统，智能家居系统，智能机器人等，最终形成社区互联网生态圈以及提供人工智能的解决方案，为广大用户提供前所未有的智能智慧体验。
        </div>
        <div class="min-us-bigbox">
            <img src=" ../../static/images/home/index-us-02.png" alt="乐得云联 乐得生活">
        </div>
    </div>
    <!--移动端us-版本-->

    <!--tel-->
    <div class="tel a-fadein">
        <div class="medium-wrap">
            <div class="tel_title">
                <img src=" ../../static/images/home/index-tel-01.png" alt="乐得云联 乐得生活">
            </div>
            <div class="tel_box">
                <img src=" ../../static/images/home/index-tel-02.png" alt="乐得云联 乐得生活">
            </div>
        </div>
    </div>
    <!--tel-->

    <!--移动端tel-版本-->
    <div class="min-tel hide">
        <div class="min-tel-title">
            <img src=" ../../static/images/home/index-tel-01.png" alt="乐得云联 乐得生活">
        </div>
        <div class="min-tel-box">
            <img src=" ../../static/images/home/index-tel-02.png" alt="乐得云联 乐得生活">
        </div>
    </div>
    <!--移动端tel-版本-->

    <!--footer-->
    <footer class="footer a-fadein">
        <div class="medium-wrap">
            ©2016 广东乐得云联智能科技有限公司 版权所有<br/>
            粤ICP备16105711
        </div>
    </footer>
    <!--footer-->

    <!--移动端footer-版本-->
    <div class="min-footer hide">
        ©2016 广东乐得云联智能科技有限公司 版权所有<br/>
        粤ICP备16105711
    </div>
    <!--移动端footer-版本-->
</body>
</html>