<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>乐得云联</title>
    <meta name="keywords" content="乐得云联 乐得生活">
    <meta name="description" content="广东乐得云联智能科技有限公司，是一家互联网与人工智能的高科技企业，致力于搭建围绕互联网+社区+人+商圈+智能的社区新业态的生态圈。">
    <link rel="shortcut icon" href="" type=""/>
    <link rel="icon" href="" type="" />
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css home-->
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
</head>
<body>
    <!--header-->
    <header class="header a-fadein">
        <div class="medium-wrap clearfix">
            <div class="fl">
                <a href="index.html">
                    <img src=" ../../static/images/home/logo.png" class="mt10" alt="乐得云联 乐得生活">
                </a>
            </div>
            <ul class="nav">
                <li><a href="index.html">首页<span class="line"></span></a></li>
                <li><a href="product.html" class="active">产品介绍<span class="line"></span></a></li>
                <li><a href="cooperation.html">商务合作<span class="line"></span></a></li>
            </ul>
        </div>
    </header>
    <!--header-->

    <!--移动端header-版本-->
    <div class="min-header hide">
        <div class="min-header-title">
            <a href="index.html">
                <img src=" ../../static/images/home/logo.png" class="mt10" alt="乐得云联 乐得生活">
            </a>
        </div>
    </div>
    <!--移动端header-版本-->

    <!--移动端nav-版本-->
    <ul class="min-nav clearfix hide">
        <li><a href="index.html">首页</a></li>
        <li><a href="product.html" class="cur">产品介绍</a></li>
        <li><a href="cooperation.html">商务合作</a></li>
    </ul>
    <!--移动端nav-版本-->

    <!--banner-->
    <div class="product_banner a-fadein"></div>
    <!--banner-->

    <!--移动端banner-版本-->
    <div class="min-product-banner hide"></div>
    <!--移动端banner-版本-->

    <!--case_a-->
    <div class="product_case_a a-fadein"></div>
    <!--case_a-->

    <!--移动端case-a-版本-->
    <div class="min-product-case-a hide"></div>
    <!--移动端case-a-版本-->

    <!--case_b-->
    <div class="product_case_b a-fadein"></div>
    <!--case_b-->

    <!--移动端case-b-版本-->
    <div class="min-product-case-b hide"></div>
    <!--移动端case-b-版本-->

    <!--case_c-->
    <div class="product_case_c a-fadein"></div>
    <!--case_c-->

    <!--移动端case-c-版本-->
    <div class="min-product-case-c hide"></div>
    <!--移动端case-c-版本-->

    <!--case_d-->
    <div class="product_case_d a-fadein"></div>
    <!--case_d-->

    <!--移动端case-d-版本-->
    <div class="min-product-case-d hide"></div>
    <!--移动端case-d-版本-->

    <!--footer-->
    <footer class="footer">
        <div class="medium-wrap">
            ©2016 广东乐得云联智能科技有限公司 版权所有<br/>
            粤ICP备16105711
        </div>
    </footer>
    <!--footer-->

    <!--移动端footer-版本-->
    <div class="min-footer hide">
        ©2016 广东乐得云联智能科技有限公司 版权所有<br/>
        粤ICP备16105711
    </div>
    <!--移动端footer-版本-->
</body>
</html>