@charset "utf-8";
/**
 * ------------------------------------------------------------------
 * goods.css v1.0
 * @author：乐得云联 front-end team
 * @time：2016-11-24
 * ------------------------------------------------------------------
 */

/*消费者端-商城-首页-品类选择*/
.goods_option{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
}
.goods_option_classify{
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 9px 0px;
}
.goods_option_classify .item {
    float: left;
    width:33.33333%;
    height: 73px;
    text-align: center;
}
.goods_option_classify .item .text {
    margin-top: 4px;
    font-size: 14px;
    color: #666666;
}
.goods_option_classify .item .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: url(../images/index/index-icon.png) no-repeat;
    background-size: cover;
    margin: 0px auto;
}
.goods_option_classify .item .icon-seven-eleven {
    background-position: 0 0;
}
.goods_option_classify .item .icon-greenstuff {
    background-position: 0 -40px;
    margin-left: 5px;
}
.goods_option_classify .item .icon-fruit {
    background-position: 0 -80px;
}
/*消费者端-商城-首页-附近商店*/
.goods_store{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    margin-top: 10px;
}
.goods_store_title{
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #656565;
    padding: 0px 10px;
    border-bottom: #ececec solid 1px;
}
.goods_store_list{
    padding: 15px 10px;
}
.goods_store_list li{
    border-bottom: #ececec solid 1px;
    padding: 15px 0px;
}
.goods_store_list li:first-child{
    padding: 0px 0px 15px 0px;
}
.goods_store_list_img{
    width: 30%;
    float: left;
}
.store_list_img{
    width: 90px;
    height: 90px;
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
}
.store_list_img img{
    width: 100%;
    height: 100%;
}
.goods_store_list_text{
    width: 70%;
    float: left;
    padding: 0px 5px;
}
.store_list_text_title{
    height: 32px;
    line-height: 32px;
    color: #000000;
    border-bottom: #eeeeee solid 1px;
}
.store_list_text_star{

}
.store_list_text_list{
    margin-top: 5px;
}
.store_list_text_list dd{
    line-height: 20px;
    color: #999999;
}
/*消费者端-商城-店铺首页-店铺信息*/
.store_index_info{
    width: 100%;
    height: 131px;
    background: #ececec;
    padding: 10px;
}
.store_index_info_part1{
    border-bottom: #ffffff dashed 1px;
}
.store_index_logo{
    width: 90px;
    height: 90px;
    border: #ffffff solid 2px;
    border-radius:50%;
    margin-bottom: 5px;
}
.store_index_box{
    width: 100%;
    height: auto;
    background: #ffffff;
}
.store_index_title{
    width: 100%;
    height: 46px;
    border-bottom: #eeeeee solid 1px;
}
.store_total{
    width: 100%;
    line-height: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
}
.store_total_left{
    width: 70%;
    float: left;
    background: #333333;
    color: #ffffff;
    font-size: 16px;
}
.store_total_right{
    width: 30%;
    float: right;
    background: #ff5d70;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}
/*消费者端-商城-店铺首页-店铺详情*/
.store_details_info{
    width: 100%;
    height: 131px;
    background: #ececec;
    padding: 10px;
}
.store_details_info_part1{
    border-bottom: #ffffff dashed 1px;
}
.store_details_info_part2{
   color: #ffffff;
}
.store_details_logo{
    width: 90px;
    height: 90px;
    border: #ffffff solid 2px;
    border-radius:50%;
    margin-bottom: 5px;
}
.store_details_title{
    width: 100%;
    height: 146px;
    background: #ffffff;
    border-bottom: #eeeeee solid 2px;
    margin-bottom: 5px;
}
.store_details_title_items{
    height: 45px;
    line-height: 43px;
    border-bottom: #eeeeee solid 2px;
}
.store_details_title_items li{
    width: 50%;
    float: left;
    text-align: center;
}
.store_details_title_items li.cur{
    color: #fa1f39;
    border-bottom: #fa1f39 solid 1px;
}
.store_details_title_items_content{
    height: 101px;
    text-align: center;
    color: #666666;
    padding: 15px 0px;
}
.store_details_title_items_content >div{
    margin-bottom: 5px;
}
.store_details_dec{
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-bottom: 5px;
}
.store_details_information{
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-bottom: 20px;
}
.store_details_dec_title{
    width: 100%;
    height: 45px;
    color: #666666;
    line-height: 45px;
    padding: 0px 12px;
    border-bottom: #eeeeee solid 1px;
}
.store_details_line{
    width: 2px;
    height: 20px;
    background: #f7414f;
    display: block;
    float: left;
    margin-top: 14px;
    margin-right: 10px;
}
.store_details_content{
    width: 100%;
    height: auto;
    padding: 12px 12px;
    color: #666666;
    line-height: 24px;
    font-size: 14px;
}
.store_details_list li{
    line-height: 45px;
    border-bottom: #eeeeee solid 1px;
    padding: 0px 12px;
    color: #1e1e1e;
}
.store_details_tel_icon{
    width: 18px;
    height: 18px;
    background: url("../images/icon/tel.png") no-repeat;
    background-size:18px 18px;
    display: inline-block;
    float: left;
    margin-top: 14px;
    margin-right: 7px;
}
.store_details_site_icon{
    width: 16px;
    height: 22px;
    background: url("../images/icon/site-01.png") no-repeat;
    background-size:16px 22px;
    display: inline-block;
    float: left;
    margin-top: 12px;
    margin-right: 7px;
}
.store_details_time_icon{
    width: 18px;
    height: 18px;
    background: url("../images/icon/time.png") no-repeat;
    background-size:18px 18px;
    display: inline-block;
    float: left;
    margin-top: 14px;
    margin-right: 7px;
}
/*消费者端-商家-商品-商品详情*/
.goods_details_banner{
    width: 100%;
    height: 220px;
    background: #666666;
}
.goods_details_info{
    width: 100%;
    height: 70px;
    border-bottom: #cccccc solid 1px;
}
.goods_details_content{
    width: 100%;
    height: auto;
    margin-top: 10px;
    background: #ffffff;
}
.goods_details_content_title{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: #eeeeee solid 1px;
    color: #666666;
    padding: 0px 10px;
}
.goods_details_content_list{
    padding: 0px 10px;
}
.goods_details_content_list li{
    color: #666666;
    line-height: 35px;
    border-bottom: #eeeeee solid 1px;
}
.goods_details_content_list li:last-child{
    border-bottom: none;
}
.goods_details_total{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
}
.goods_details_total_price{
    width: 70%;
    float: left;
    background: #333333;
    padding: 0px 10px;
    color: #ffffff;
    font-size: 20px;
}
.goods_details_total_pay{
    width: 30%;
    float: left;
    background: #ff5d70;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.goods_details_total_pay a{
    color: #ffffff;
}
/*商户端-订单详情-拒绝买家申请*/
.refuse_dec{
    width: 100%;
    height: 75px;
    border-bottom: #cccccc solid 1px;
    background: #ffffff;
    padding: 10px 25px;
    color: #b0b0b0;
    text-indent: 30px;
}
.refuse_box{
    margin: 10px 12px;
}
.refuse_box_title{
    width: 100%;
    height: 36px;
    color: #000000;
}
.refuse_box_select{
    width: 100%;
    height: 36px;
    background: #ffffff;
    border: #c0c0c0 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 30px;
    text-indent: 20px;
    color: #c0c0c0;
}
.refuse_box_explain{
    background: #ffffff;
    height: 145px;
    border: #c0c0c0 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.refuse_box_textarea {
    width: 100%;
    height: 145px;
    position: absolute;
    background: none;
    z-index: 1;
    border: none;
    padding: 20px 20px;
}
.refuse_box_note{
    color: #a4a4a4;
    text-indent: 10px;
    padding: 10px 5px;
    line-height: 24px;
}
.refuse_btn{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    border-top: #d0d4d6 solid 1px;
    background: #f8f8f8;
}
.refuse_btn_red{
    width: 136px;
    height: 33px;
    border: #c60a1e  solid 1px;
    margin: 8px auto;
    background: none;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #c60a1e;
}





























