@charset "utf-8";
/**
 * ------------------------------------------------------------------
 * goods.css v1.0
 * @author：乐得云联 front-end team
 * @time：2016-11-24
 * ------------------------------------------------------------------
 */

/*消费者端-商城-首页-品类选择*/
.goods_option{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
}
.goods_option_classify{
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 9px 0px;
}
.goods_option_classify .item {
    float: left;
    width:33.33333%;
    height: 73px;
    text-align: center;
}
.goods_option_classify .item .text {
    margin-top: 4px;
    font-size: 14px;
    color: #666666;
}
.goods_option_classify .item .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: url(../images/index/index-icon.png) no-repeat;
    background-size: cover;
    margin: 0px auto;
}
.goods_option_classify .item .icon-seven-eleven {
    background-position: 0 0;
}
.goods_option_classify .item .icon-greenstuff {
    background-position: 0 -40px;
    margin-left: 5px;
}
.goods_option_classify .item .icon-fruit {
    background-position: 0 -80px;
}
/*消费者端-商城-首页-附近商店*/
.goods_store{
    width: 100%;
    height: auto;
    background: #FFFFFF;
    margin-top: 10px;
}
.goods_store_title{
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #656565;
    padding: 0px 10px;
    border-bottom: #ececec solid 1px;
}
.goods_store_list{
    padding: 15px 10px;
}
.goods_store_list li{
    border-bottom: #ececec solid 1px;
    padding: 15px 0px;
}
.goods_store_list li:first-child{
    padding: 0px 0px 15px 0px;
}
.goods_store_list_img{
    width: 30%;
    float: left;
}
.store_list_img{
    width: 90px;
    height: 90px;
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
}
.store_list_img img{
    width: 100%;
    height: 100%;
}
.goods_store_list_text{
    width: 70%;
    float: left;
}
/*商户端-订单详情-拒绝买家申请*/
.refuse_dec{
    width: 100%;
    height: 75px;
    border-bottom: #cccccc solid 1px;
    background: #ffffff;
    padding: 10px 25px;
    color: #b0b0b0;
    text-indent: 30px;
}
.refuse_box{
    margin: 10px 12px;
}
.refuse_box_title{
    width: 100%;
    height: 36px;
    color: #000000;
}
.refuse_box_select{
    width: 100%;
    height: 36px;
    background: #ffffff;
    border: #c0c0c0 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 30px;
    text-indent: 20px;
    color: #c0c0c0;
}
.refuse_box_explain{
    background: #ffffff;
    height: 145px;
    border: #c0c0c0 solid 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.refuse_box_textarea {
    width: 100%;
    height: 145px;
    position: absolute;
    background: none;
    z-index: 1;
    border: none;
    padding: 20px 20px;
}
.refuse_box_note{
    color: #a4a4a4;
    text-indent: 10px;
    padding: 10px 5px;
    line-height: 24px;
}
.refuse_btn{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    border-top: #d0d4d6 solid 1px;
    background: #f8f8f8;
}
.refuse_btn_red{
    width: 136px;
    height: 33px;
    border: #c60a1e  solid 1px;
    margin: 8px auto;
    background: none;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #c60a1e;
}





























