@charset "utf-8";
/**
 * ------------------------------------------------------------------
 * activity.css v1.0
 * @author：乐得云联 front-end team
 * @time：2016-11-24
 * ------------------------------------------------------------------
 */

/*活动-预购活动详情*/
.activity_share{
    width: 15px;
    height: 15px;
    background: url("../images/icon/share.png") no-repeat;
    background-size: 15px 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
}
.activity_banner{
    width: 100%;
    height: 320px;
    border-bottom: #cccccc solid 1px;
}
.activity_banner img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow: hidden;
}
.activity_total{
    width: 100%;
    height: 55px;
    background: url("../images/activity/activity-bg.png") no-repeat;
    background-size: 100% 55px;
}
.activity_total_left{
    width: 70%;
    float: left;
    padding: 0px 12px;
}
.activity_total_right{
    width: 30%;
    float: right;
    padding: 8px 0px;
    color: #fa1f35;
}
.activity_total_right >div{
    text-align: center;
}
.activity_item{
    width: 100%;
    height: 58px;
    background: #ffffff;
    border-bottom: #cccccc solid 1px;
    padding: 13px 10px;
    font-size: 14px;
}
.activity_item .item_title{
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}
.activity_item .item_title_info{
    color: #ffcd0a;
}
.activity_content{
    width: 100%;
    height: auto;
    margin: 15px 0px 15px 0px;
}
.activity_btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0px;
    border-top: #cccccc solid 1px;
    background: #25a96d;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}





























