<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>商户端-营收管理-提现记录-提现规则</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css news-->
    <link rel="stylesheet" type="text/css" href="../../static/css/news.css">

    <style>
        .mod-main-part{
            background: #ffffff;
            bottom: 0px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        <h1 id="title" class="title">提现规则</h1>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        <div class="withdraw-deposit-rule">
            <div class="withdraw-deposit-rule-title">收入结算规则说明</div>
            <div class="withdraw-deposit-rule-text">
                零售店家每7天与乐得平台结算一次
            </div>
        </div>
    </main>
    <!--main end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--news js-->
    <script type="text/javascript" src="../../static/js/news.js"></script>
</body>
</html>