<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>消费者端-预购活动详情</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css activity-->
    <link rel="stylesheet" type="text/css" href="../../static/css/activity.css">

    <style>
        .header{
            background: #ffffff;
        }
        .header .btn-left{
            color: #000000;
        }
        .header .title{
            color: #000000;
        }
        .mod-main-part{
            bottom: 50px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        <h1 id="title" class="title">预购活动详情</h1>
        <span class="activity_share"></span>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        <div class="activity_banner">banner图</div>
        <div class="activity_total clearfix">
            <div class="activity_total_left clearfix">
                <div class="fl mr10">
                    <span class="fff">¥</span>
                    <span class="f36 fff">49.9</span>
                </div>
                <div class="fl mt5">
                    <div class="fff">原价</div>
                    <del class="fff">¥78.9</del>
                </div>
            </div>
            <div class="activity_total_right">
                <div>剩余时间</div>
                <div>01:55:22:02</div>
            </div>
        </div>
        <div class="activity_item">
            <h5 class="item_title">果园老农 加州开心果190g*2</h5>
            <span class="item_title_info">美味脆香可口</span>
        </div>
        <div class="activity_content">
            预购活动详情描述<br/>
            预购活动详情描述<br/>
            预购活动详情描述<br/>
            预购活动详情描述<br/>
            预购活动详情描述<br/>
            预购活动详情描述<br/>
        </div>
    </main>
    <!--main end-->
    <a href="javascript:void(0)">
        <div class="activity_btn">
            <img src="../../static/images/icon/buy.png" width="25" height="25"/> 立即购买
        </div>
    </a>
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--about js-->
    <script type="text/javascript" src="../../static/js/activity.js"></script>
</body>
</html>