<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>消费者端-业主认证-乐得应用使用条款</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css news-->
    <link rel="stylesheet" type="text/css" href="../../static/css/news.css">

    <style>
        .mod-main-part{
            background: #ffffff;
            bottom: 0px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        <h1 id="title" class="title">乐得应用使用条款</h1>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        <div class="agreement-text">
            乐得应用使用条款<br/>（ps：本页面暂时没有收到运营同事提供的相关文案，app端开发同事在嵌套时，请再次确认一下，谢谢啦！）
        </div>
    </main>
    <!--main end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--news js-->
    <script type="text/javascript" src="../../static/js/news.js"></script>
</body>
</html>