<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-小区-公告详情</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css plug-->
    <link rel="stylesheet" type="text/css" href="../../static/css/plug/swiper.min.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css housing-->
    <link rel="stylesheet" type="text/css" href="../../static/css/housing.css">

    <style>
        .mod-main-part{
            background: #ffffff;
            bottom: 0px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <a href="housing.html">
            <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        </a>
        <h1 id="title" class="title">公告详情</h1>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
       <div class="housing_details_title">
           <h3>A7-2公告停水详情</h3>
           <span>2016-12-08 11:00</span>
       </div>
       <div class="housing_details_content">
           根据上级通报，以下楼宇将于2016年11月1日停水，停水时间……
       </div>
    </main>
    <!--main end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--plug js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--housing js-->
    <script type="text/javascript" src="../../static/js/housing.js"></script>
</body>
</html>