<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-小区-物业信息</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css plug-->
    <link rel="stylesheet" type="text/css" href="../../static/css/plug/swiper.min.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css housing-->
    <link rel="stylesheet" type="text/css" href="../../static/css/housing.css">

    <style>
        .mod-main-part{
            background: #ffffff;
            bottom: 0px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <a href="housing.html">
            <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        </a>
        <h1 id="title" class="title">物业信息</h1>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        <span class="housing_tenement_title">
            <span class="housing_tenement_line"></span>物业信息
        </span>
        <ul class="housing_tenement_list">
            <li>
                <span class="pr10">物业地址</span>
                <span class="c000">二期A栋105室</span>
            </li>
            <li>
                <span class="pr10">联系电话</span>
                <span class="c000">020-6666666</span>
            </li>
        </ul>
    </main>
    <!--main end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--plug js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--housing js-->
    <script type="text/javascript" src="../../static/js/housing.js"></script>
</body>
</html>