<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>消费者端-登录</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css users-->
    <link rel="stylesheet" type="text/css" href="../../static/css/users.css">

    <style>
        .mod-main-part{
            background: #ffffff;
            bottom: 0px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <a href="users.html">
            <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        </a>
        <h1 id="title" class="title">登录</h1>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
       <div class="login_logo_content">
           登录头像
       </div>
       <ul class="login_items clearfix">
           <li>快速登录</li>
           <li>密码登录</li>
       </ul>
       <div class="login_list_box">
           内容
       </div>
    </main>
    <!--main end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--users js-->
    <script type="text/javascript" src="../../static/js/users.js"></script>
</body>
</html>