<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-商家-商品-商品详情</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css plug-->
    <link rel="stylesheet" type="text/css" href="../../static/css/plug/swiper.min.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css shop-->
    <link rel="stylesheet" type="text/css" href="../../static/css/shop.css">

    <style>
        .swiper-container {
            width: 100%;
            height: 220px;
            margin: 0px auto;
            overflow: hidden;
            position: relative;
            z-index: 1;
            background: #EFEFEF;
        }
        .swiper-slide img {
            width: auto;
            height: 220px;
            display: block;
            margin: 0px auto;
            overflow: hidden;
        }
        .swiper-slide{
            overflow: hidden;
        }
        .mod-main-part{
            bottom: 50px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <a href="javascript:void(0);">
            <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        </a>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        <div class="goods_details_banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../static/images/index/c-index-banner.png" height="220">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../static/images/index/c-index-banner.png" height="220">
                    </div>
                </div>
                <!--<div class="swiper-pagination"></div>-->
            </div>
        </div>
        <div class="goods_details_info">
            <div class="goods_details_info_title">
                GODDIV 巧克力
            </div>
            <div class="goods_details_info_content clearfix">
                <span class="fl">¥256</span>
                <span class="fr">1</span>
            </div>
        </div>
        <div class="goods_details_content">
            <div class="goods_details_content_title">
                产品详情
            </div>
            <ul class="goods_details_content_list">
                <li>
                    <span class="pr30">品牌</span>
                    <span class="c000">GODDIV</span>
                </li>
                <li>
                    <span class="pr30">规格</span>
                    <span class="c000">450g/盒</span>
                </li>
            </ul>
        </div>
    </main>
    <!--main end-->
    <!--total start-->
    <div class="goods_details_total clearfix">
        <div class="goods_details_total_price">
            ¥256
        </div>
        <div class="goods_details_total_pay">
            <a href="javascript:void(0);">
                立即支付
            </a>
        </div>
    </div>
    <!--total start-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--plug js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--shop js-->
    <script type="text/javascript" src="../../static/js/shop.js"></script>

    <script>
        var swiper = new Swiper('.swiper-container', {
            //pagination: '.swiper-pagination',
            paginationType: 'fraction'
        });
    </script>

</body>
</html>