<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-商家-店铺首页-店铺详情</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css plug-->
    <link rel="stylesheet" type="text/css" href="../../static/css/plug/swiper.min.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css shop-->
    <link rel="stylesheet" type="text/css" href="../../static/css/shop.css">

    <style>
        .mod-main-part{
            bottom: 0px;
        }
    </style>
</head>
<body>
<!--header start-->
    <header class="header">
        <a href="shop_store.html">
            <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        </a>
    </header>
    <!--main start-->
    <main class="mod-main-part">
        <div class="store_details_info">
            <div class="store_details_info_part1">
                <a href=""><div class="store_details_logo"></div></a>
            </div>
            <div class="store_details_info_part2">简介：营业时间10:00-22:00</div>
        </div>
        <div class="store_details_title">
            <ul class="store_details_title_items">
                <li class="cur">商品</li>
                <li>详情</li>
            </ul>
            <div class="store_details_title_items_content">
                <div>星星</div>
                <div>综合评分</div>
                <div>商家好评率98%</div>
            </div>
        </div>
        <div class="store_details_dec">
            <div class="store_details_dec_title">
                <span class="store_details_line"></span>
                商家简介
            </div>
            <div class="store_details_content">
                温馨提示：本店送货时间大约在30分钟~1小时，谢谢您的耐心等待！<br/>如果遇到任何问题，请联系本店：13800138000，我们会及时解决您的问题！
            </div>
        </div>
        <div class="store_details_information">
            <div class="store_details_dec_title">
                <span class="store_details_line"></span>
                商家信息
            </div>
            <ul class="store_details_list">
                <li>
                    <i class="store_details_tel_icon"></i>
                    13000000000
                </li>
                <li>
                    <i class="store_details_site_icon"></i>
                    广州萝岗区科汇金谷四街1号
                </li>
                <li>
                    <i class="store_details_time_icon"></i>
                    9:00-12:00
                </li>
            </ul>
        </div>
    </main>
    <!--main end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--plug js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--shop js-->
    <script type="text/javascript" src="../../static/js/shop.js"></script>
</body>
</html>