<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-商家</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css plug-->
    <link rel="stylesheet" type="text/css" href="../../static/css/plug/swiper.min.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css shop-->
    <link rel="stylesheet" type="text/css" href="../../static/css/shop.css">
</head>
<body>
    <!--search start-->
    <div class="c_search">
        <div class="c_search_site"><i class="c_search_site_icon"></i>华景新城</div>
        <input type="text" class="c_search_text" placeholder="输入商品、商家名称">
    </div>
    <!--search end-->
    <!--main start-->
    <main class="mod-main-part">
        <div class="goods_option_classify">
            <ul class="clearfix">
                <li class="item">
                    <a href="javascript:void(0)">
                        <div class="inner">
                            <span class="icon icon-seven-eleven"></span><p class="text">便利店</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="javascript:void(0)">
                        <div class="inner">
                            <span class="icon icon-greenstuff"></span><p class="text">蔬菜生鲜</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="javascript:void(0)">
                        <div class="inner">
                            <span class="icon icon-fruit"></span><p class="text">水果</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="goods_store">
            <div class="goods_store_title">附近商家店铺</div>
            <ul class="goods_store_list">
                <li class="clearfix">
                    <div class="goods_store_list_img">
                        <a href="" class="store_list_img">
                            <img src="../../static/images/shop/goods-01.png"/>
                        </a>
                    </div>
                    <div class="goods_store_list_text">
                        <div class="store_list_text_title">
                            树院咖啡茶吧
                        </div>
                    </div>
                </li>
                <li>asdasdasdasd</li>
            </ul>
        </div>
    </main>
    <!--main end-->
    <!--footer-->
    <footer class="fixed-footer">
        <ul class="nav">
            <li>
                <a href="index.html">
                    <span class="diy-icon icon-homes"></span>
                </a>
            </li>
            <li class="active">
                <a href="shop.html">
                    <span class="diy-icon icon-shop"></span>
                </a>
            </li>
            <li>
                <a href="housing.html">
                    <span class="diy-icon icon-housing"></span>
                </a>
            </li>
            <li>
                <a href="users.html">
                    <span class="diy-icon icon-users"></span>
                </a>
            </li>
        </ul>
    </footer>
    <!--footer-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--plug js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--shop js-->
    <script type="text/javascript" src="../../static/js/shop.js"></script>
</body>
</html>