<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-商家-商品-确认支付</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css plug-->
    <link rel="stylesheet" type="text/css" href="../../static/css/plug/swiper.min.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css shop-->
    <link rel="stylesheet" type="text/css" href="../../static/css/shop.css">

    <style>
        .header{
            background: #ffffff;
        }
        .header .btn-left{
            color: #1e1e1e;
        }
        .header .title{
            color:#1e1e1e;
        }
        .mod-main-part{
            bottom: 50px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <a href="javascript:void(0);">
            <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        </a>
        <h1 class="title">确认预购</h1>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        确认收款
    </main>
    <!--main end-->
    <!--confirm_total start-->
    <div class="confirm_total clearfix">
        <div class="confirm_total_total">
            待支付：¥500.00
        </div>
        <a href="javascript:void(0)">
            <div class="confirm_total_verify">
                确认付款
            </div>
        </a>
    </div>
    <!--confirm_total end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--plug js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--shop js-->
    <script type="text/javascript" src="../../static/js/shop.js"></script>

</body>
</html>