<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-个人中心</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/animation.css">
    <!--css plug-->
    <link rel="stylesheet" type="text/css" href="../../static/css/plug/swiper.min.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css users-->
    <link rel="stylesheet" type="text/css" href="../../static/css/users.css">
</head>
<body>
    <!--header start-->
    <header class="header">
        <h1 id="title" class="title">个人中心</h1>
        <span class="btn-right lede-icon icon-set"></span>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        <div class="users_header">
            <div class="users_header_box">
                <a href="login.html">
                    <div class="users_header_logo">
                        <img src="../../static/images/icon/login.png">
                    </div>
                </a>
                <div class="users_header_tel">
                    130-0000-0000
                </div>
            </div>
        </div>
        <div class="users_info_list">
            <ul class="users_info_column_list">
                <a href="users_housing.html">
                    <li class="users_info_column_item">
                        <span class="users_housing_icon"></span>
                        我的小区
                        <span class="users_arrowright"></span>
                        <span class="fr mr20 users_red">中海虞城</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="users_info_list">
            <ul class="users_info_column_list">
                <a href="users_orders.html">
                    <li class="users_info_column_item bbe5">
                        我的订单
                        <span class="users_arrowright"></span>
                    </li>
                </a>
                <a href="users_activity.html">
                    <li class="users_info_column_item">
                        我的活动
                        <span class="users_arrowright"></span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="users_info_list">
            <ul class="users_info_column_list">
                <a href="users_facebook.html">
                    <li class="users_info_column_item">
                        反馈建议
                        <span class="users_arrowright"></span>
                    </li>
                </a>
            </ul>
        </div>
    </main>
    <!--main end-->
    <!--footer-->
    <footer class="fixed-footer">
        <ul class="nav">
            <li>
                <a href="index.html">
                    <span class="diy-icon icon-homes"></span>
                </a>
            </li>
            <li>
                <a href="shop.html">
                    <span class="diy-icon icon-shop"></span>
                </a>
            </li>
            <li>
                <a href="housing.html">
                    <span class="diy-icon icon-housing"></span>
                </a>
            </li>
            <li class="active">
                <a href="users.html">
                    <span class="diy-icon icon-users"></span>
                </a>
            </li>
        </ul>
    </footer>
    <!--footer-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--plug js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--users js-->
    <script type="text/javascript" src="../../static/js/users.js"></script>
</body>
</html>