<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-我的活动</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css users-->
    <link rel="stylesheet" type="text/css" href="../../static/css/users.css">

    <style>
        .header{
            background: none;
            height: auto;
        }
        .mod-main-part{
            top: 86px;
            bottom: 0px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <div class="users_activity_header">
            <a href="users.html">
                <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
            </a>
            <h1 id="title" class="title">我的活动</h1>
        </div>
        <ul class="users_activity_items clearfix">
            <li class="cur">全部</li>
            <li>待支付</li>
            <li>待配送</li>
            <li>配送中</li>
            <li>已完成</li>
            <li>退款</li>
        </ul>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        <ul class="users_activity_list">
            <li>
                <div class="users_activity_list_title">
                    <div class="activity_title">
                        <h3>【节日活动】阳江大闸蟹</h3>
                        <span>下单时间：2016-12-2 10:40</span>
                    </div>
                    <div class="activity_status">
                        已完成
                    </div>
                </div>
                <div class="users_activity_list_content">
                    <div class="users_activity_list_content_left">
                        <a href="" class="activity_pic">
                            <img src="../../static/images/users/users-01.png"/>
                        </a>
                    </div>
                    <div class="users_activity_list_content_right">
                        <h3>伊利优酸</h3>
                        <div class="clearfix mt10">
                            <span class="fl users_red f14">¥35.0</span>
                            <span class="fr users_gray f14">x1</span>
                        </div>
                    </div>
                </div>
                <div class="users_activity_list_total">
                    <span class="pr20">共1件商品</span>
                    <span class="f16">总价：<span class="users_red">¥350</span></span>
                </div>
            </li>
            <li>
                <div class="users_activity_list_title">
                    <div class="activity_title">
                        <h3>【节日活动】阳江大闸蟹</h3>
                        <span>下单时间：2016-12-2 10:40</span>
                    </div>
                    <div class="activity_status">
                        已完成
                    </div>
                </div>
                <div class="users_activity_list_content">
                    <div class="users_activity_list_content_left">
                        <a href="" class="activity_pic">
                            <img src="../../static/images/users/users-01.png"/>
                        </a>
                    </div>
                    <div class="users_activity_list_content_right">
                        <h3>伊利优酸</h3>
                        <div class="clearfix mt10">
                            <span class="fl users_red f14">¥35.0</span>
                            <span class="fr users_gray f14">x1</span>
                        </div>
                    </div>
                </div>
                <div class="users_activity_list_total">
                    <span class="pr20">共1件商品</span>
                    <span class="f16">总价：<span class="users_red">¥350</span></span>
                </div>
            </li>
        </ul>
    </main>
    <!--main end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--users js-->
    <script type="text/javascript" src="../../static/js/users.js"></script>
</body>
</html>