<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>wap端-消费者端-意见反馈</title>
    <!--css lib-->
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/module.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/lib/function.css">
    <!--css public-->
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css">
    <!--css users-->
    <link rel="stylesheet" type="text/css" href="../../static/css/users.css">

    <style>
        .mod-main-part{
            bottom: 0px;
        }
    </style>
</head>
<body>
    <!--header start-->
    <header class="header">
        <a href="users.html">
            <span id="back" class="btn-left lede-icon icon-arrowleft"></span>
        </a>
        <h1 id="title" class="title">意见反馈</h1>
    </header>
    <!--header end-->
    <!--main start-->
    <main class="mod-main-part">
        <div class="c-facebook">
            <form>
                <div class="c-facebook-content">
                    <div style="position:relative;">
                        <textarea class="c-facebook-textarea" onfocus="document.getElementById('note').style.display='none'" onblur="if(value=='')document.getElementById('note').style.display='block'"></textarea>
                        <div id="note" class="c-facebook-note" style="display: block;">
                            请填写您的意见
                        </div>
                    </div>
                </div>
                <button class="c-facebook-submit">确认发送</button>
            </form>
            <div class="c-facebook-history">
                <h3 class="c-facebook-history-title">反馈历史：</h3>
                <ul class="c-facebook-history-list">
                    <li>
                        <span>我</span>
                        <p>挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟</p>
                        <div class="c-facebook-history-time">2016-11-26</div>
                    </li>
                    <li>
                        <span>客服</span>
                        <p>挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟</p>
                        <div class="c-facebook-history-time">2016-11-26</div>
                    </li>
                    <li>
                        <span>我</span>
                        <p>挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟</p>
                        <div class="c-facebook-history-time">2016-11-26</div>
                    </li>
                    <li>
                        <span>客服</span>
                        <p>挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟</p>
                        <div class="c-facebook-history-time">2016-11-26</div>
                    </li>
                    <li>
                        <span>我</span>
                        <p>挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟挺好的哟</p>
                        <div class="c-facebook-history-time">2016-11-26</div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <!--main end-->
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/lib/jquery.js"></script>
    <!--lib js-->
    <script type="text/javascript" src="../../static/js/plug/swiper.js"></script>
    <!--public js-->
    <script type="text/javascript" src="../../static/js/public/common.js"></script>
    <!--users js-->
    <script type="text/javascript" src="../../static/js/users.js"></script>
</body>
</html>